.element-card {
    cursor: default;
    text-align: center;
    user-select: none;

    .card-id {
        position: absolute;
        top: 255px;
        left: 10px;
        right: 10px;
        text-align: center;
        z-index: 2;
        font-size: 1em;
        line-height: 1.2;
        max-height: 20px;
        overflow: hidden;
    }

    .card-name {
        position: absolute;
        top: 205px;
        left: 10px;
        right: 10px;
        font-weight: bold;
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        z-index: 2;
        line-height: 1.2;
        word-break: break-all;
        padding: 0 5px;
        text-align: center;
        max-height: 50px;
    }


    .card-avatar {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0%);
        right: auto;
        bottom: auto;
        z-index: 1;
        width: 200px;
        height: 200px;
        object-fit: cover;
    }

    .card-department {
        position: absolute;
        top: 275px;
        left: 10px;
        right: 10px;
        text-align: center;
        z-index: 2;
        font-size: 0.9em;
        line-height: 1.2;
        max-height: 20px;
        overflow: hidden;
    }

    .card-identity {
        position: absolute;
        top: 295px;
        left: 10px;
        right: 10px;
        text-align: center;
        z-index: 2;
        font-size: 0.9em;
        line-height: 1.2;
        max-height: 20px;
        overflow: hidden;
    }
}

.lucky-element-card {
    cursor: default;
    user-select: none;

    &::before {
        background-color: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
        border: 1px solid linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
    }

    .card-avatar {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0%);
        right: auto;
        bottom: auto;
        z-index: 1;
        width: 200px;
        height: 200px;
        object-fit: cover;
    }

    .card-name {
        text-align: center;
        z-index: 2;
        position: absolute;
        top: 205px;
        left: 10px;
        right: 10px;
        font-weight: bold;
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        line-height: 1.2;
        word-break: break-all;
        padding: 0 5px;
        max-height: 50px;
        // -webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
        // animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
        // animation-delay: 0.6s;
    }

    .card-id {
        position: absolute;
        top: 255px;
        left: 10px;
        right: 10px;
        text-align: center;
        z-index: 2;
        font-size: 1em;
        line-height: 1.2;
        max-height: 20px;
        overflow: hidden;
    }

    .card-department {
        position: absolute;
        top: 275px;
        left: 10px;
        right: 10px;
        text-align: center;
        z-index: 2;
        font-size: 0.9em;
        line-height: 1.2;
        max-height: 20px;
        overflow: hidden;
    }

    .card-identity {
        position: absolute;
        top: 295px;
        left: 10px;
        right: 10px;
        text-align: center;
        z-index: 2;
        font-size: 0.9em;
        line-height: 1.2;
        max-height: 20px;
        overflow: hidden;
    }
}
